h1, h2, div {
	font-family: 'Roboto', sans-serif;
	color: #222;
	text-align: center;
}
input {
	width: 40%;
	height: 20em;
	font-size: 1em;
}
form {
	text-align: center;
}
.loading {
	background: #3498db;
}
.success {
	background: #2ecc71;
}
.fail {
	background: #e74c3c;
}

#val1 {
	
}

#val2 {
	
}
#left, #right {
	background: orangered;
	display: inline-block;
	margin-bottom: 10px;
}
#left h2, #right h2 {
	color: DarkSlateBlue;
}
#bottom-left h2, #bottom-right h2 {
	color: orangered;
}
#bottom-left, #bottom-right {
	background: DarkSlateBlue;
	display: inline-block;
}
#expectedOutput {

}